* {
  box-sizing: border-box;
  font-family: 'Merriweather Sans', sans-serif;
}

body {
  display: grid;
  grid-template-columns: 210px 1fr;
}

aside {
  background-color: #354051;
  font-family: 'Cabin Condensed', sans-serif;
  grid-column: 1 / span 1;
}

.cool-grey-text {
  color: #9AA3B5;
}

.deep-grey-text {
  color: #606D80;
}

.profile-image {
  border-radius: 50%;
  margin: 34px 59px 0;
  width: 92px;
}

.profile-name {
  text-align: center;
  margin: 10px 0 20px;
}

.down-icon {
  margin-left: 4px;
}

.aside-hr {
  color: #354051;
  background-color: #354051;
  border: 2px solid #313A4A;
  height: 5px;
  margin: 0;
}

.aside-nav {
  margin: 23px 0px 23px 0px;
}

.aside-nav-heading {
  font-size: 14px;
  margin-bottom: 19px;
  padding-left: 23px;
}

.aside-nav-item {
  align-items: center;
  display: flex;
  flex-direction: row;
  font-size: 14px;
  height: 40px;
  line-height: 23px;
  padding-left: 23px;
}

.aside-nav-item:hover {
  background-color: #303949;
  border-left: 3px solid #16A4FA;
  color: white;
  cursor: pointer;
}

.nav-icon {
  margin-right: 10px;
}

.yellow-square {
  color: #FFD505;
}

.blue-square {
  color: #2CAFFE;
}

.red-square {
  color: #EA1B61;
}

.green-square {
  color: #04AA8A;
}

main {
  grid-column: 2 / span 1;
}

header {
  display: grid;
  grid-template-columns: 72px 1fr 72px 72px 72px;
  height: 72px;
}

.header-section {
  align-items: center;
  border-bottom: 2px solid #EEEFF3;
  border-right: 2px solid #EEEFF3;
  display:flex;
  flex-direction: row;
  font-size: 20px;
  justify-content: center;
}

.icon-section:hover {
  background-color: #16A4FA;
  color: white;
  cursor: pointer;
}

.header-icon {
  color: #354051;
}

.search-icon {
  color: #9AA3B5;
  margin-left: 20px;
  margin-right: 5px;
}

.search-input {
  border: none;
  color: #354051;
  font-size: 16px;
  height: 100%;
  padding: 4px;
}

::placeholder {
  color: #9AA3B5;
}

.hamburger {
  grid-column: 1 / span 1;
}

.search {
  grid-column: 2 / span 1;
}

.search-input {
  width: 95%;
}

.user-plus {
  grid-column: 3 / span 1;
}

.calendar  {
  grid-column: 4 / span 1;
}

.grid-icon-section {
  grid-column: 5 / span 1;
}

.resume-heading-section {
  border-bottom: 2px solid #EEEFF3;
  color: #354051;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 50% 25% 25%;
}

h1 {
  font-size: 1.7rem;
  grid-column: 1 / span 1;
  grid-row: 1 / span 1;
  margin: 50px 0 10px 50px;
}

.location-heading {
  color: #9AA3B5;
  grid-column: 1 / span 1;
  grid-row: 2 / span 1 ;
  margin-bottom: 12px;
  margin-left: 54px;

}

.bullet-point {
  bottom: 4px;
  font-size: 3px;
  position: relative;
}

.preview {
  color: #43B5FB;
}

.resume-heading-buttons {
  align-items: center;
  display: flex;
  flex-direction: row;
  font-size: 14px;
  justify-content: flex-end;
  position: relative;
  top: 24px;
} 


.resume-button {
  align-items: center;
  border: 2px solid #D2DAE2;
  border-radius: 50%;
  color: #9AA3B5;
  display:flex;
  height: 40px;
  justify-content: center;
  margin: 0 10px;
  width: 40px;
}

.open-button {
  border-radius: 40px;
  width: 90px;
}

.open-icon {
  color: #8CC63E;
  margin-right: 5px;
}

.trash-icon {
  margin-right: 60px;
}

.resume-heading-nav {
  grid-column: 1 / span 2;
  align-items: flex-end;
  display:flex;
  height: 80px;
}

.resume-heading-nav-list {
  color: #9AA3B5;
  display: flex;
  flex-direction: row;
  font-size: 12px;
  height: 35px;
  justify-content: space-around;
  margin-left: 16px;
  width: 80%;
}

.resume-heading-nav-item:hover {
  border-bottom: 3px solid #16A4FA;
  border-spacing-bottom: 20px;
}

.lower-section {
  background-color: #EBF2F6;
  height: 1370px;
}

.circle-chart-box {
  display: flex;
  flex-flow: row nowrap;
  margin: 50px 0px 0px 50px;
}

.single-chart {
  justify-content: space-around ;
  max-height: 197px;
  transform: rotate(180deg);
  width: 30%;
}

.circular-chart {
  display: block;
  margin: 10px auto;
  max-width: 92%;
  max-height: 250px;
}

.circle-bg {
  fill: none;
  stroke: #D9E4EB;
  stroke-width: 2;
}

.circle {
  animation: progress 2s ease-out forwards;
  fill: none;
  stroke-width: 2;
  stroke-linecap: round;
}

@keyframes progress {
  0% {
    stroke-dasharray: 0 100;
  }
}

.circular-chart.turquoise .circle {
  stroke: #4ABBC2;
}

.circular-chart.blue .circle {
  stroke: #16A4FA;
}

.circular-chart.purple .circle {
  stroke: #AE68AF;
}

.data-number {
  fill: #354051;
  font-size: 0.5em;
  text-anchor: middle;
  transform: rotate(180deg);
}

.data-title {
  fill: #354051;
  font-size: 2.25px;
  text-anchor: middle;
  transform: rotate(180deg);
}

.totals-button {
  border-radius: 40px;
  height: 35px;
  left: 38%;
  margin-top: 24px;
  position: relative;
  width: 191px;
}

.graph-section {
  display: grid;
  grid-template-columns: 55% 45%;
  height: 23%;
}

.bar-graph-section {
  bottom: 20px;
  grid-column: 2 / span 1;
  margin: 10% 10% 10% 10%;
  position: relative;
}

.bar-graph-image {
  max-width: 100%;
}

.applicants-button {
  position: relative;
  left: 34%;
  height: 35px;
  border-radius: 40px;
  width: 191px;
  margin-top: 9px;
}

.divider {
  display: grid;
  grid-template-columns: 1fr 35px 1fr;
  margin-top: 30px;
}

.left-line {
  grid-column: 1 / span 1;
  height: 1px;
  margin: auto 5px auto 8%;
  width: 91%;
}

.up-button {
  grid-column: 2 / span 1;
}

.up-icon {
  border-radius: 50%;
  height: 35px;
  width: 35px;
}

.right-line {
  grid-column: 3 / span 1;
  height: 1px;
  margin: auto 7% auto 5px;
  width: 94%;
}

.lowest-section {
  display: grid;
  grid-template-columns: 68% 32%;
  grid-template-rows: repeat(4, 1fr);
}

.job-description-article {
  background-color: white;
  display: grid;
  grid-column: 1 / span 1;
  grid-row: 1 / span 4;
  margin-left: 7%;
  margin-top: 5%;
  width: 94%;
}

.article-grid-1 {
  display: grid;
  grid-template-columns: 25.5% 74.5%;
}

.article-grid-2 {
  display: grid;
  grid-template-columns: 23% 77%;
  grid-template-rows: 74% 26%;
}

.grid-column-1 { 
  bottom: 12px;
  grid-column: 1 / span 1;
  grid-row: 1 / span 1;
  position: relative;
}

.grid-column-2 {
  bottom: 12px;
  grid-column: 2 / span 1;
  grid-row: 1 / span 1;
  position: relative;
}

.edit-button, .job-description-heading {
  top: 3px;
}

.position-title-heading, .position-title-content {
  top: 1px;
}

.grid-row-2 {
  grid-column: 1 / span 2;
  grid-row: 2 / span 1;
  height: 2px;
  margin: 0 4%;
}

article section {
  height: 77px;
}

.article-heading {
  color: #9AA3B5;
  font-size: 12px;
  margin-left: 17%;
  margin-top: 17px;
}

.article-content {
  color: #9AA3B5;
  font-family: 'Cabin Condensed', sans-serif;
  font-size: 15px;
  margin-top: 16px;
  margin-left: 30px;
}

.job-description-section {
  background-color: #6E7D95;
  font-size: 14px;
  grid-row: 1 / span 1;
}

.job-description-heading {
  color: white;
  margin-left: 14%;
  margin-top: 29px;
}

.edit-button {
  background-color: #7C8BA6;
  border: none;
  color: white;
  display: flex;
  flex-direction: row;
  height: 31px;
  justify-content: space-around;
  margin-top: 21px;
  margin-left: 10px;
  width: 77px;
}

.position-title-section {
  grid-row: 2 / span 1;
}

.location-in-JD-section {
  grid-row: 3 / span 1;
}

.employment-type-section {
  grid-row: 4 / span 1;
}

.experience-section {
  grid-row: 5 / span 1;
}

.status-section {
  grid-row: 6 / span 1;
}

.description-section {
  grid-row: 7 / span 1;
  height: 148px;
}

.description-content {
  width: 380px;
}

.hiring-lead-section {
  grid-row: 8 / span 1;
}

.hiring-lead-heading {
  bottom: 21px;
}

.tim-tizzy {
  border-radius: 50%;
  bottom: 31px;
  height: 50px;
  margin-left: 30px;
  margin-top: 10px;
}

.tim-name {
  bottom: 23px;
  left: 10%;
  position: relative;
  width: 50%;
}

.approved-salary-section {
  grid-row: 9 / span 1;
}

.social-buttons {
  grid-column: 2 / span 1;
  grid-row: 1 / span 1;
}

.link-to-this-job {
  grid-column: 2 / span 1;
  grid-row: 2 / span 1;
}

.use-the-button {
  bottom: 22px;
  grid-column: 2 / span 1;
  grid-row: 3 / span 1;
  position: relative;
}

.upload-resumes {
  bottom: 50px;
  grid-column: 2 / span 1;
  grid-row: 4 / span 1;
  position: relative;
}

.social-buttons-section {
  display: flex;
  flex-direction: column;
  margin-left: 70px;
  margin-top: 45px;
}

.social-button {
  border: none;
  color: white;
  font-size: 14px;
  height: 48px;
  margin-bottom: 17px;
  width: 280px;
}

.facebook-button {
  background-color: #4B71C3;
}

.twitter-button {
  background-color: #03ACEF;
}

.linkedin-button {
  background-color: #0473B4;
}

.social-icon, .link-icon {
  margin-right: 12px;
}
.link-section {
  color: #354051;
  margin-left: 72px;
  margin-top: 32px;
  width: 280px;
}

.link-heading {
  font-size: 18px;
  margin-bottom: 12px;
}

.link-body {
  color: #9AA3B5;
  font-size: 12px;
  line-height: 20px;
  margin-bottom: 16px;
}

.link-input {
  background-color: white;
  border: none;
  color: #9AA3B5;
  height: 46px;
  padding: 16px;
  width: 220px;
}

.email-link {
  width: 280px;
}

.copy-button {
  background-color: #49BBC1;
  border: none;
  color: white;
  height: 45px;
  margin-bottom: 29px;
  margin-left: -4px;
  width: 58px;
}

button:hover {
  background-color: #AE68AF;
  color: white;
  cursor: pointer;
}

@media screen and (max-width: 1310px) {

  body {
    grid-template-columns: 0fr;
  }

  aside {
    display: none;
  }
}

@media screen and (max-width: 1110px) {

  .resume-heading-nav {
    margin-left: 2%;
  }

  .lower-section {
    height: 1740px;
  }

  .graph-section {
    display: flex;
    flex-direction: column;
    height: 700px;
    justify-content: center;
  }

  .totals-button {
    left: 41%;
  }

  .bar-graph-section {
    align-items: center;
    bottom: -25px;
    display: flex;
    flex-direction: column;
    margin: 0;
    position: relative;
  }

  .applicants-button {
    left: 0;
  }

  .lowest-section {
    grid-template-columns: 65% 35%;
  }
}

@media screen and (max-width: 1010px) {

  .lower-section {
    height: 2400px;
  }

  .job-description-article {
    margin-left: 1%;
    margin-top: 5%;
    width: 87%;
  }

  .lowest-section {
    align-items: center;
    display: flex;
    flex-direction: column;
  }

  .social-buttons-section {
    align-items: center;
    display:flex;
    flex-direction: column;
  }

  .social-button {
    width: 700px;
    margin-left: -57px;
  }

  .link-section {
    width: 55%;
  }
}

@media screen and (max-width: 965px) {

  .resume-heading-section {
    grid-template-columns: 60% 40%;
  }
}

@media screen and (max-width: 830px) {

  .resume-heading-section {
    grid-template-columns: 80% 20%;
    grid-template-rows: 25% 25% 25% 25%;
  }

  .resume-heading-buttons {
    grid-column: 1 / span 1;
    grid-row: 2 / span 1;
    justify-content: flex-start;
    left: 39px;
    margin-top: 12px;
  }

  .resume-heading-nav {
    margin-left: 28px;
  }

  .social-button {
    width: 320px;
  }

  .link-section {
    margin-left: 30px;
    width: 290px;
  }

  .resume-heading-nav {
    margin-left: 38px;
  }

  .resume-heading-nav-list {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(4, 1fr);
    margin-bottom: 34px;
    position: relative;
    top: 27px;
  }

  .resume-heading-nav-item {
    margin-bottom: 12px;

  }

  .graph-section {
    height: 660px;
  }
}

@media screen and (max-width: 750px) {

  .totals-button {
  left: 36%;
  }
}

@media screen and (max-width: 645px) {

  h1 {
    font-size: 1.3rem;
  }

  .description-content {
    width: 320px;
  }

  .tim-name {
    left: 12%;
  }

  ::placeholder {
    font-size: 12px;
}
  
  .graph-section {
    height: 640px;
  }

  .circle-chart-box {
    margin-top: 0;
  }
}

@media screen and (max-width: 560px) {

  .totals-button {
    left: 33%;
  }

  .description-section {
    height: 190px;
  }

  .description-content {
    width: 250px;
  }
}

@media screen and (max-width: 540px) {


  .edit-button {
    margin-left: 19px;
  }

  .description-section {
    height: 230px;
  }

  .description-content {
    width: 222px;
}

  .tim-name {
    left: 15%;
  }
}

@media screen and (max-width: 440px) {

  .resume-button {
    height: 40px;
  }

  .totals-button {
    left: 28%;
  }

  .location-heading {
    font-size: 12px;
  }

  .description-section {
    height: 270px;
  }

  .description-content {
    width: 180px;
  }

  .tim-name {
    left: 18%;
  }
}

@media screen and (max-width: 410px) {

  .resume-button {
    height: 37px;
  }

  .graph-section {
    height: 480px;
  }

  .bar-graph-image {
    max-width: 90%;
}

  .edit-button {
    margin-left: 25px;
  }

  .social-button {
    width: 290px;
  }
}

@media screen and (max-width: 390px) {

  .resume-button {
    height: 35px;
  }

  .totals-button {
    left: 25%;
  }
}

@media screen and (max-width: 370px) {

  .resume-button {
    height: 33px;
  }
}

@media screen and (max-width: 350px) {

  .resume-button {
    height: 31px;
  }

  .green-circle {
    display: none;
  }

  .social-button {
    width: 270px;
  }
}

