*{
  box-sizing: border-box;
  font-family: 'Merriweather Sans', sans-serif;
}

body{
  display: grid;
  grid-template-columns: 210px 1fr;
}

aside{
  grid-column: 1 / span 1;
  background-color: #354051;
  font-family: 'Cabin Condensed', sans-serif;
}

.cool-grey-text{
  color: #9AA3B5;
}

.deep-grey-text{
  color: #606D80;
}

.profile-image{
  border-radius: 50%;
  width: 92px;
  margin: 34px 59px 0;
}

.profile-name{
  text-align: center;
  margin: 10px 0 20px;
}

.down-icon{
  margin-left: 4px;
}

.aside-hr{
  color: #354051;
  background-color: #354051;
  border-width: 2px;
  border-style: solid;
  border-color: #313A4A;
  height: 5px;
  margin: 0;
}

.aside-nav{
  margin: 23px 0px 23px 0px;
}

.aside-nav-heading{
  font-size: 14px;
  padding-left: 23px;
  margin-bottom: 19px;
}

.aside-nav-item{
  font-size: 14px;
  display: grid;
  grid-template-columns: 26px 1fr;
  line-height: 23px;
  padding-left: 23px;
  height: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.aside-nav-item:hover{
  color: white;
  background-color: #303949;
  border-left: 3px solid #16A4FA;
  cursor: pointer;
}

.nav-icon{
  margin-right: 10px;
}

.yellow-square{
  color: #FFD505;
}

.blue-square{
  color: #2CAFFE;
}

.red-square{
  color: #EA1B61;
}

.green-square{
  color: #04AA8A;
}

main{
  grid-column: 2 / span 1;
}

header{
  display: grid;
  grid-template-columns: 72px 1fr 72px 72px 72px;
  height: 72px;
}

.header-section{
  font-size: 20px;
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-right: 2px solid #EEEFF3;
  border-bottom: 2px solid #EEEFF3;
}

.icon-section:hover{
  background-color: #16A4FA;
  color: white;
  cursor: pointer;
}

.header-icon{
  color: #354051;
}

.search-icon{
  margin-left: 20px;
  margin-right: 5px;
  color: #9AA3B5;
}

.search-input{
  border: none;
  height: 100%;
  font-size: 16px;
  padding: 4px;
  color: #354051;
}

::placeholder{
  color: #9AA3B5;
}

.hamburger{
  grid-column: 1 / span 1;
}

.search{
  grid-column: 2 / span 1;
}

.search-input{
  width: 95%;
}

.user-plus{
  grid-column: 3 / span 1;
}

.calendar{
  grid-column: 4 / span 1;
}

.grid-icon-section{
  grid-column: 5 / span 1;
}

.resume-heading-section{
  color: #354051;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 50% 25% 25%;
  border-bottom: 2px solid #EEEFF3;
}

h1{
  font-size: 1.7rem;
  grid-column: 1 / span 1;
  grid-row: 1 / span 1;
  margin: 50px 0 10px 50px;
}

.location-heading{
  grid-column: 1 / span 1;
  grid-row: 2 / span 1 ;
  margin-left: 54px;
  color: #9AA3B5;
  margin-bottom: 12px;

}

.bullet-point{
  font-size: 3px;
  position: relative;
  bottom: 4px;
}

.preview{
  color: #43B5FB;
}

.resume-heading-buttons{
  grid-column: 2 / span 1;
  grid-row: 1 / span 2;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  position: relative;
  top: 24px;
  font-size: 14px;
} 


.resume-button{
  color: #9AA3B5;
  margin: 0 10px;
  border: 2px solid #D2DAE2;
  border-radius: 50%;
  display:flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 40px;
}

.open-button{
  width: 90px;
  border-radius: 40px;
}

.open-icon{
  color: #8CC63E;
  margin-right: 5px;
}

.trash-icon{
  margin-right: 60px;
}

.resume-heading-nav{
  height: 80px;
  grid-column: 1 / span 3;
  grid-row: 3 / span 1;
  display:flex;
  align-items: flex-end;
}

.resume-heading-nav-list{
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-size: 12px;
  margin-left: 16px;
  margin-bottom: 20px;
  color: #9AA3B5;
}

.resume-heading-nav-item:hover{
  border-bottom: 3px solid #16A4FA;
  border-spacing-bottom: 20px;
}

.lower-section{
  background-color: #EBF2F6;
  height: 1370px;
}

.circle-chart-box {
  display: flex;
  flex-flow: row nowrap;
  margin: 50px 0px 0px 50px;
}

.single-chart {
  width: 30%;
  justify-content: space-around ;
  transform: rotate(180deg);
  max-height: 197px;
}

.circular-chart {
  display: block;
  margin: 10px auto;
  max-width: 92%;
  max-height: 250px;
}

.circle-bg {
  fill: none;
  stroke: #D9E4EB;
  stroke-width: 2;
}

.circle {
  fill: none;
  stroke-width: 2;
  stroke-linecap: round;
  animation: progress 2s ease-out forwards;
}
@keyframes progress {
  0% {
    stroke-dasharray: 0 100;
  }
}

.circular-chart.turquoise .circle {
  stroke: #4ABBC2;
}

.circular-chart.blue .circle {
  stroke: #16A4FA;
}

.circular-chart.purple .circle {
  stroke: #AE68AF;
}

.data-number {
  fill: #354051;
  font-size: 0.5em;
  text-anchor: middle;
  transform: rotate(180deg);
}

.data-title {
  fill: #354051;
  font-size: 2.25px;
  text-anchor: middle;
  transform: rotate(180deg);
}

.totals-button{
  position: relative;
  left: 38%;
  height: 35px;
  border-radius: 40px;
  width: 191px;
  margin-top: 24px;
}

.graph-section{
  display: grid;
  grid-template-columns: 55% 45%;
  height: 23%;
}

.bar-graph-section{
  grid-column: 2 / span 1;
  position: relative;
  bottom: 20px;
  margin: 10% 10% 10% 10%;
}

.bar-graph-image{
  max-width: 100%;
}

.applicants-button{
  position: relative;
  left: 34%;
  height: 35px;
  border-radius: 40px;
  width: 191px;
  margin-top: 9px;
}

.divider{
  display: grid;
  grid-template-columns: 1fr 35px 1fr;
}

.left-line{
  grid-column: 1 / span 1;
  width: 91%;
  height: 1px;
  margin: auto 5px auto 8%;
}

.up-button{
  grid-column: 2 / span 1;
}

.up-icon{
  border-radius: 50%;
  height: 35px;
  width: 35px;
}

.right-line{
  grid-column: 3 / span 1;
  width: 94%;
  height: 1px;
  margin: auto 7% auto 5px;
}

.lowest-section{
  display: grid;
  grid-template-columns: 68% 32%;
  grid-template-rows: repeat(4, 1fr);
}

.job-description-article{
  width: 94%;
  margin-top: 5%;
  margin-left: 7%;
  background-color: white;
  grid-column: 1 / span 1;
  grid-row: 1 / span 4;
  display:grid;
}

.article-grid-1{
  display:grid;
  grid-template-columns: 25.5% 74.5%;
}

.article-grid-2{
  display: grid;
  grid-template-columns: 23% 77%;
  grid-template-rows: 74% 26%;
}

.grid-column-1{
  grid-column: 1 / span 1;
  grid-row: 1 / span 1;
  position: relative;
  bottom: 12px;
}

.grid-column-2{
  grid-column: 2 / span 1;
  grid-row: 1 / span 1;
  position: relative;
  bottom: 12px;
}

.edit-button, .job-description-heading{
  top: 3px;
}

.position-title-heading, .position-title-content{
  top: 1px;
}

.grid-row-2{
  grid-column: 1 / span 2;
  grid-row: 2 / span 1;
  margin: 0 4%;
  height: 2px;
}

article section {
  height: 77px;
}

.article-heading{
  font-size: 12px;
  color: #9AA3B5;
  margin-left: 17%;
  margin-top: 17px;
}

.article-content{
  font-size: 15px;
  margin-top: 16px;
  margin-left: 30px;
  font-family: 'Cabin Condensed', sans-serif;
  color: #9AA3B5;
}

.job-description-section{
  background-color: #6E7D95;
  grid-row: 1 / span 1;
  font-size: 14px;
}

.job-description-heading{
  margin-left: 14%;
  margin-top: 29px;
  color: white;
}

.edit-button{
  width: 77px;
  height: 31px;
  margin-top: 21px;
  margin-left: 1.5%;
  background-color: #7C8BA6;
  border: none;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.position-title-section{
  grid-row: 2 / span 1;
}

.location-in-JD-section{
  grid-row: 3 / span 1;
}

.employment-type-section{
  grid-row: 4 / span 1;
}

.experience-section{
  grid-row: 5 / span 1;
}

.status-section{
  grid-row: 6 / span 1;
}

.description-section{
  grid-row: 7 / span 1;
  height: 148px;
}

.description-content{
  width: 380px;
}

.hiring-lead-section{
  grid-row: 8 / span 1;
}

.hiring-lead-heading{
  bottom: 21px;
}

.tim-tizzy{
  height: 50px;
  border-radius: 50%;
  margin-left: 30px;
  margin-top: 10px;
  bottom: 31px;
}

.tim-name{
  position: relative;
  left: 10%;
  bottom: 23px;
  width: 50%;
}

.approved-salary-section{
  grid-row: 9 / span 1;
}

.social-buttons{
  grid-column: 2 / span 1;
  grid-row: 1 / span 1;
}

.link-to-this-job{
  grid-column: 2 / span 1;
  grid-row: 2 / span 1;
}

.use-the-button{
  grid-column: 2 / span 1;
  grid-row: 3 / span 1;
  position: relative;
  bottom: 22px;
}

.upload-resumes{
  grid-column: 2 / span 1;
  grid-row: 4 / span 1;
  position: relative;
  bottom: 50px;
}

.social-buttons-section{
  display: flex;
  flex-direction: column;
  margin-top: 45px;
  margin-left: 70px;
}

.social-button{
  height: 48px;
  width: 280px;
  color: white;
  border: none;
  margin-bottom: 17px;
  font-size: 14px;
}

.facebook-button{
  background-color: #4B71C3;
}

.twitter-button{
  background-color: #03ACEF;
}

.linkedin-button{
  background-color: #0473B4;
}

.social-icon, .link-icon{
  margin-right: 12px;
}
.link-section{
  color: #354051;
  margin-left: 72px;
  width: 280px;
  margin-top: 32px;
}

.link-heading{
  font-size: 18px;
  margin-bottom: 12px;
}

.link-body{
  color: #9AA3B5;
  font-size: 12px;
  line-height: 20px;
  margin-bottom: 16px;
}

.link-input{
  height: 46px;
  border: none;
  background-color: white;
  width: 220px;
  padding: 5px;
  padding: 16px;
  color: #9AA3B5;
}

.email-link{
  width: 280px;
}

.copy-button{
  width: 58px;
  height: 45px;
  background-color: #49BBC1;
  color: white;
  margin-left: -4px;
  border: none;
  margin-bottom: 29px;
}

button:hover{
  background-color: #AE68AF;
  color: white;
  cursor: pointer;
}

@media screen and (max-width: 1310px){

  body{
    grid-template-columns: 0fr;
  }

  aside{
    display: none;
  }
}

@media screen and (max-width: 1110px){

  .resume-heading-nav{
    margin-left: 2%;
  }

  .lower-section{
    height: 1740px;
  }

  .graph-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 700px;
  }

  .totals-button{
    left: 41%;
  }

  .bar-graph-section{
    position: relative;
    bottom: -25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
  }

  .applicants-button{
    left: 0;
  }

  .lowest-section{
    grid-template-columns: 65% 35%;
  }
}

@media screen and (max-width: 1010px){

  .lower-section{
    height: 2400px;
  }

  .job-description-article {
    width: 87%;
    margin-top: 5%;
    margin-left: 1%;
  }

  .lowest-section {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .social-buttons-section{
    display:flex;
    flex-direction: column;
    align-items: center;
  }

  .social-button{
    width: 700px;
    margin-left: -57px;
  }

  .link-section{
    width: 55%;
  }
}

@media screen and (max-width: 965px) {

  .resume-heading-section{
    grid-template-columns: 60% 40%;
  }
}

@media screen and (max-width: 830px) {

  .resume-heading-section{
    grid-template-rows: 25% 25% 25% 25%;
    grid-template-columns: 80% 20%;
  }

  .resume-heading-buttons{
    left: 39px;
    margin-top: 12px;
    grid-row: 2 / span 1;
    grid-column: 1 / span 1;
    justify-content: flex-start;
  }

  .resume-heading-nav{
    margin-left: 28px;
  }

  .social-button{
    width: 320px;
  }

  .link-section{
    width: 290px;
    margin-left: 30px;
  }

  .resume-heading-nav{
    margin-left: 38px;
  }

  .resume-heading-nav-list{
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(4, 1fr);
    position: relative;
    top: 27px;
  }

  .resume-heading-nav-item{
    margin-bottom: 12px;
  }
}

@media screen and (max-width: 645px) {

  h1{
    font-size: 1.3rem;
  }

  .description-content{
    width: 320px;
  }

  .tim-name{
    left: 12%;
  }

  ::placeholder{
    font-size: 12px;
}

@media screen and (max-width: 560px) {

  .description-section{
    height: 190px;
  }

  .description-content {
    width: 250px;
}

